terminal_banner
termcolor
tqdm
types-tqdm
selenium
urllib3==1.17
cryptography==38.0.4
webdriver_manager
eventlet
free-proxy
selenium-wire
SpeechRecognition==3.8.1
pydub
bs4
psutil
types-beautifulsoup4
random_user_agent
types-psutil
